<template>
  <div id="app">
      <header class="heads text-center">
        <button class="header3">Log Out</button>
          
      </header>
       
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="background-img img bg-wrap text-center py-4">
          <div class="user-logo">
           <img  class="img" src="../assets/images/lmslogo.jpeg">
          </div>
        </div>
         <ul class="list-unstyled components mb-5">
            <router-link to="/Dashboard">
          <li class="active">
            <a href="#"><span><img src="../assets/images/dashboard.png" width="30px" height="30px"></span> Dashboard </a>
          </li>
            </router-link>
             <router-link to="/Patron">
          <li>
            <a href="PatronManagement.html"><span ><img src="../assets/images/patron.png" width="30px" height="30px"></span> Patron Management</a>
          </li>
             </router-link>
              <router-link to="/Book">
          <li>
            <a href="BookManagement.html"><span><img src="../assets/images/book.png" width="30px" height="30px"></span> Book Management</a>
          </li>
              </router-link>
            <router-link to="/Settings">  
          <li>
            <a href="Settings.html"><span ><img src="../assets/images/settings.png" width="30px" height="30px"></span> Settings</a>
          </li>
            </router-link>
        </ul>
      </nav>
    </div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style></style>