<template>
  <div id="app">
    <SideBar/>
    
   
    <div class="roww">
       
          <h3 class="magicTitle">Book Management</h3>
        
    </div>
      <div class="row3">
     
      
      <button @click='toogle = !toogle'  class="btn"> <span><img src="./assets/images/add.png" width="30px" height="30px">  </span>Books </button>
           
            <input class="search-box" type="text" name="" placeholder="Search . . . .">
              <div class="col-lg-12">
                <table class="table table-bordered">
                   <thead>
                      <tr class="text-center text-dark">
                        <th>Name</th>
                        <th>Author</th>
                        <th>Copies Avilable</th>
                        <th>Category</th>
                        <th>Action</th>
                        </tr>
                        </thead>
                   
                    <tbody>
                      <td>Java Programming-1</td>
                      <td>Caluza,LesterJohn</td>
                      <td>4</td>
                      <td>Programming</td>
                      <td><a href="#"><img src="./assets/images/settings2.png" width="30px" height="30px"></a><a   href="#"><img src="./assets/images/reddelete.png" width="30px" height="30px"></a></td>
                      <tr>
                      <td>ContemporaryWord</td>
                      <td>Canales,WenceHarry</td>
                      <td>11</td>
                      <td>WorldHistory</td>
                      <td><a href="#"><img src="./assets/images/settings2.png" width="30px" height="30px"></a><a  href="#"><img src="./assets/images/reddelete.png" width="30px" height="30px"></a></td>
                      </tr>
                      <tr>
                      <td>Biography</td>
                      <td>JohnSmith</td>
                      <td>5</td>
                      <td>ScienceandLife</td>
                      <td><a href="#"><img src="./assets/images/settings2.png" width="30px" height="30px"></a><a  href="#"><img src="./assets/images/reddelete.png" width="30px" height="30px"></a></td>
                      </tr>
                      <tr>
                      <td>LiteraturasaPilipino</td>
                      <td>Amistoso,Jane</td>
                      <td>1</td>
                      <td>Ethics</td>
                      <td><a href="#"><img src="./assets/images/settings2.png" width="30px" height="30px"></a><a   href="#"><img src="./assets/images/reddelete.png" width="30px" height="30px"></a></td>
                      </tr>
                      <tr>
                      <td>RizalLifeWorks</td>
                      <td>EricGuzman</td>
                      <td>2</td>
                      <td>History</td>
                      <td><a href="#"><img src="./assets/images/settings2.png" width="30px" height="30px"></a><a  href="#"><img src="./assets/images/reddelete.png" width="30px" height="30px"></a></td>
                      </tr>


                    </tbody>
                
               </table>
              </div>
            </div>
<div v-show='toogle' id="overlay">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modaltitle modal-title"> New Patron</h6>
                       <button @click='toogle = !toogle' class="close">
                          <span aria-hidden= "true">&times;</span>
                          </button>
                      </div>
                          <div class="modal-body p-6">
                          <form>
                            <div class="form-group">
                              <input class="form-design form-control-lg" type="text" name="bname" placeholder=" Book Name">
                          </div>
                            <div class="form-group">
                              <input class="form-design form-control-lg" type="text" name="bauthor" placeholder="Author">
                          </div>
                            <div class="form-group">
                              <input class="form-design form-control-lg" type="text" name="copies" placeholder="Copies Avilable">
                          </div>
                            <div class="form-group">
                              <input class="form-design form-control-lg" type="text" name="cat" placeholder="Category">
                            </div>
                            <div class="form-group">
                              <button id="btnregistering" class="btn btn-dark btn-block btn-lg">
                                Register
                              </button>
                              
                            </div>
                          </form>
                          
                        </div>

                    </div>
                  
          </div>
</div>
  </div>
</template>

<script>




import SideBar from "./components/SideBar";

export default {
        el: '#hi',
        data(){
          return {
            toogle:false
          }
        },    



  mounted(){
    document.title = "Book Management"
  },
  components: { 
    SideBar
    },
};
</script>

