<template>
  <div id="app">
    <SideBar />
      <div class="containerchart">
            <div class="row4">
              <div class="column">
               <canvas id="barChart" ref="barChart"></canvas> </div>
              <div class="column">
              <canvas id="pieChart"></canvas>
              </div>
              </div>
            </div>
  </div>
</template>

<script>
import SideBar from "./components/SideBar";

import Chart from 'chart.js';
export default {
  components: { SideBar
  },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
			labels: ['Early', 'Mid', 'Late', '60 Minuts'],
          datasets: [
            {
              label: "Borrowed Books",
              data: [7, 10, 9, 12, 13, 6],
              backgroundColor: "rgb(255, 0, 128)",
            },
            
            {
              label: "Returned Books",
              data: [4, 7, 10, 11, 8, 8],
              backgroundColor: "rgba(154, 179, 245, .8)",
            },
          ],
        },
        options: {
        
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "pie",
        data: {
          datasets: [
            {
              data: [10, 20, 30],
              backgroundColor: [
               
                "rgba(255, 0, 255)",
                
                "rgb(255, 0, 128)",
                "rgb(128,0, 255)",
              ],
            },
          ],

          labels: ['Melee','Ranged','Jungle'
				],
        },
        
      });
    });
  },
  
};
 
</script>

<style>
#sidebar ul li.active1 > a {
      background: transparent;
      color: #fff; }
</style>