<template>
  <div id="app">
    
    <SideBar/>
    <div class="roww">
       
          <h3 class="magicTitle">Patron Management</h3>
        
    </div>
    <div class="row3">
      
      <button @click='toogle = !toogle'  class="btn"> <span><img src="./assets/images/add.png" width="30px" height="30px">  </span>Patron </button>
           
            <input class="search-box" type="text" name="" placeholder="Search . . . .">
              <div class="col-lg-12">
                <table class="table table-bordered">
                   <thead>
                      <tr class="text-center text-dark">
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Contact</th>
                        <th>Date</th>
                        <th>Action</th>
                        </tr>
                        </thead>
                   
                    <tbody>
                      <td>DominicRulida</td>
                      <td>dominicrulida888@gmail.com</td>
                      <td>09124584471</td>
                      <td>June19,2020</td>
                      <td><a href="#"><img src="./assets/images/settings2.png" width="30px" height="30px"></a><a onclick="myFunction()" href="#"><img src="./assets/images/reddelete.png" width="30px" height="30px"></a></td>
                      <tr>
                      <td>ChinoDelValle</td>
                      <td>chinodel224 @gmail.com</td>
                      <td>09123123113</td>
                      <td>June15,2020</td>
                      <td><a href="#"><img src="./assets/images/settings2.png" width="30px" height="30px"></a><a  onclick="myFunction()" href="#"><img src="./assets/images/reddelete.png" width="30px" height="30px"></a></td>
                      </tr>
                      <tr>
                      <td>MelbrienriGabitan</td>
                      <td>gab999@gmail.com</td>
                      <td>094456824451</td>
                      <td>June1,2020</td>
                      <td><a href="#"><img src="./assets/images/settings2.png" width="30px" height="30px"></a><a  onclick="myFunction()" href="#"><img src="./assets/images/reddelete.png" width="30px" height="30px"></a></td>
                      </tr>
                      <tr>
                      <td>VannesaSolayao</td>
                      <td>vannesa1gmail.com</td>
                      <td>091234567892</td>
                      <td>May3,2020</td>
                      <td><a href="#"><img src="./assets/images/settings2.png" width="30px" height="30px"></a><a  onclick="myFunction()" href="#"><img src="./assets/images/reddelete.png" width="30px" height="30px"></a></td>
                      </tr>
                      <tr>
                      <td>EricVilarde</td>
                      <td>eric75@gmail.com</td>
                      <td>092324241234</td>
                      <td>April11,2020</td>
                      <td><a href="#"><img src="./assets/images/settings2.png" width="30px" height="30px"></a><a  onclick="myFunction()" href="#"><img src="./assets/images/reddelete.png" width="30px" height="30px"></a></td>
                      </tr>


                    </tbody>
                
               </table>
              </div>
            </div>
             <div v-show='toogle' id="overlay">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modaltitle modal-title"> New Patron</h6>
                        <button @click='toogle = !toogle' class="close">
                          <span aria-hidden= "true">&times;</span>
                          </button>
                          </div>
                          <div class="modal-body p-6">
                          <form>
                            <div class="form-group">
                              <input class="form-design form-control-lg" type="text" name="name" placeholder="First Name">
                            </div>
                            <div class="form-group">
                              <input class="form-design form-control-lg" type="text" name="lname" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                              <input class="form-design form-control-lg" type="text" name="email" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                              <button id="btnregistering" class="btn btn-dark btn-block btn-lg">
                                Register
                              </button>
                              
                            </div>
                          </form>
                          
                        </div>

                    </div>
                  </div>
          </div>
  </div>
</template>

<script>




import SideBar from "./components/SideBar";

export default {
        el: '#hi',  
        data(){
          return {
            toogle:false
            
          }
        },    



  mounted(){
    document.title = "Patron Management"
  },
  components: { 
    SideBar
    },
};
</script>

