<template>
  <div id="app">
    <SideBar/>
   <div class="roww">
       
          <h3 class="magicTitle">Settings</h3>
        
    </div>
  
  </div>
</template>

<script>




import SideBar from "./components/SideBar";

export default {
  mounted(){
    document.title = "Settings"
  },
  components: { 
    SideBar
    },
};
</script>

