.nav-link{
     color:rgb(197,200,193);
     font-family: arial;
     margin-top: 5px;
     margin-left: 30px;
}
.navbar-brand{
    color:rgb(197,200,193);
    
    border-color: green;
}
.par1,.par2,.par3{
    color:white;
}
.kape{
    margin-top: 5px;
    color:rgb(242, 245, 250);
    font-size: 30px;
    font-family: impact;
}
.bgpic1,.bgpic6{
   border-radius: 5px;
   width: 150px;
   height: 3px;
}
.bgpic2,.bgpic5{
    border-radius: 5px;
    width: 75px;
    height: 3px ;
}

.bgpic3,.bgpic4{
    border-radius: 5px;
    width: 35px;
    height: 3px;
}
.bgpicc{
    align-items: center;
     width: 1323px; 
     height: 500px;
}

.header {
    margin-top: 0%;
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 10px;
  }

body{

    min-height: 100vh;
    background-color: rgb(57, 76, 106);
}
.b1{
    display: flex;
    align-items: center;
    margin-left: 25%;
    font-size:1.5rem;
    font-weight: bold;

    color: rgb(197,200,193);
    border-color: white;
    background-color: transparent;
}
.tanan{
    color: rgb(197,200,193);
}


.item1,.item2,.item3{
    margin-top: 5px;
    margin-left: 10px;
    font-size:1.5rem;
    font-weight: bold;
    
    margin-right: 20px;
    color: rgb(197,200,193);
}
.item1,.itm2,.item3,.b1{
    float: left;
}

.deals {
    margin: 10px;
}
.deals img{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deals .detail {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.brand-story{
    width: 100%;
    height: 60vh;
    background-color: #233B61;
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

.brand-story h3{
    position: absolute;
    margin-top: 20px;
    top: 0;
    left: 0;
}

.brand-story .story-1 {
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background: url('/assets/img/tshirt.jpg');
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-story .story-1 img {
    margin-top: 180px;
    clip-path: circle();
    width: 80px;
}

.brand-story .story-2 {
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background: url('/assets/img/phone.jpg');
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-story .story-2 img {
    margin-top: 180px;
    clip-path: circle();
    width: 80px;
}


.brand-story .story-3{
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background: url('/assets/img/makeup.jpg');
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-story .story-3 img {
    margin-top: 180px;
    clip-path: circle();
    width: 80px;
}

.brand-story .story-4{
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background: url('/assets/img/live.gif');
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-story .story-4 img {
    margin-top: 180px;
    clip-path: circle();
    width: 80px;
}


.brand-story .story-5 {
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background: url('/assets/img/YeezyBoostP.jpg');
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-story .story-5 img {
    margin-top: 180px;
    clip-path: circle();
    width: 80px;
}

.brand-story .story-6 {
    margin-left: 50px;
    width: 200px;
    height: 300px;
    background: url('/assets/img/dress.jpg');
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-story .story-6 img {
    margin-top: 180px;
    clip-path: circle();
    width: 80px;
}

footer {
    width: 100%;
    height: 30vh;
    background-color: #233B61;
}

footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
footer .row .col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .row img {
    width: 100px;
    clip-path: circle();
}
footer .row .only{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .row div {
    display: flex;
    justify-content: center;
}

footer .row div img {
    width: 40px;
    margin-left: 10px;
}