#overlay{
            position: fixed;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;
            background: rgba(0,0,0,0.6);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;

  background-color: rgb(105,105,105); 

}
.heads{
  position: absolute;
  width: 1349px;
  height: 100px;
  background-color: rgb(21,21,21);

 
}
.header2{
  padding-top: 1%;
  font-size: 50px;

  color:white;

}
.header3{
  position: absolute;
  width: 75px;
  height: 60px;
  background-color: transparent;
  font-weight: bolder;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 2px #0000;
  right: 100px;
  top:40px;
  color:white;
  float:right;

}
#sidebar {
  min-width: 300px;
  max-width: 300px;


  background: rgb(21,21,21);

  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.background-img{

 background-color:rgb(30,30,30);
}

.search-box{
  float: right;
}

.row{
  height: 1400px;
  
  background-color: white;
}

.row3{
  height: 1400px;
  
  background-color: rgb(105,105,105);
}
.column{
  width: 50%;
}
